*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Font Size */
  --font-micro: 0.5rem;
  --font-small: 0.8rem;
  --font-base: 1rem;
  --font-large: 1.25rem;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
::-webkit-scrollbar {
  display: none;
}
button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-image: none;
}
input {
  border: none;
  outline: none;
  background-color: transparent;
  background-image: none;
}
input:disabled {
  color: inherit;
}
